@import url('https://fonts.googleapis.com/css?family=Montserrat:700,600,800,500,400');

* {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e1e1e1;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*** intro page ***/
.intro-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
  margin-top: 40px;
  background-color: #850038;
  border-top: 30px solid #e1e1e1;
  border-bottom: 30px solid #e1e1e1;
  padding: 10px 5%;
  overflow: visible;
}

.grp-container {
  width: 100%;
  height: auto;
  display: flex;
}

.intro-uplogo {
  width: 140px;
}

.intro-title {
  color: #fff;
  justify-self: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  vertical-align: middle;
  letter-spacing: 5px;
  text-align: center;
  margin-left: 60px;
  width: 1040px;
}

.intro-sect {
  width: 100%;
  height: 85vh;
  align-items: center;
  bottom: 0%;
  justify-content: center;
  background-color: transparent;
}

.intro-row {
  height: 100%;
  display: flex;
}

.intro-col {
  flex: 1 2 auto;
}

.intro-img1 {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.intro-img2 {
  width: auto;
  height: 400px;
  margin-top: 8%;
  object-fit: contain;
}

/*** start of navbar ***/

.navBar {
  position: static;
  top: 0;
  width: 100%;
  height: 10vh;
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #850038;
  border-bottom: 5px solid #0e6021;
  box-shadow: 5px 0 10px #000;
}

.navBar .navLogo img {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar .navLinks li {
  display: inline-block;
  margin: 0 20px;
}

.navBar .navLinks li a {
  display: block;
  margin-left: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.navBar .navLinks li .active {
  font-weight: 700;
  border-bottom: 2px solid #fff;
}

.navBar .navLinks li a:hover {
  border-bottom: 2px solid #fff;
  transition: 0.3s ease;
}

.navBar .navIcons img {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*** end of navbar ***/

/*** start of oble pic ***/

.oblePic {
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('imgs/bg/bg-upb.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*** end of oble pic ***/

/*** start of about us info ***/
.abt-container {
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  bottom: 0;
  right: 0;
  left: 0;
  position: relative;
}

.abt-container .abt-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abt-container .abt-title h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  color: #000;
  margin-top: 20px;
}

.abt-container .abt-line-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abt-container .abt-line-container .abt-line {
  width: 180px;
  height: 0px;
  background-color: #850038;
  border: 3px solid #850038;
  margin: 10px 0px 20px 0px;
}

.abt-container .abt-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abt-container .abt-content p {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-align: center;
  line-height: 22px;
  padding: 0 200px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*** end of about us ***/

/*** start of contact us ***/

.contact-section {
  background: url(imgs/bg/bg-upb2-crop.jpg) no-repeat left;
  background-size: 60%;
  background-color: #fdfdfd;
  overflow: hidden;
}

.contact-container {
  width: 40%;
  float: right;
  background-color: #fdfdfd;
  padding: 125px 50px;
}

.contact-container .contact-title h1 {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 5px;
  color: #000;
}

.contact-container .contact-line-container .contact-line {
  width: 180px;
  height: 0px;
  background-color: #850038;
  border: 3px solid #850038;
  margin: 15px 0px 50px 0px;
}

.contact-container .contact-content h1 {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.contact-container .contact-content p {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 50px;
}

.contact-container .contact-details .label img {
  width: 40px;
  margin-top: 5px;
}

.contact-container .contact-details .label-title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.contact-container .contact-details tr td:first-child {
  padding-right: 20px;
}

.contact-container .contact-details tr td {
  padding: 5px;
}

/*** end of contact us ***/

/*** start of faqs ***/

.faqs-container {
  display: grid;
  grid-template-columns: 60% auto;
  height: 100%;
}

.faqs-container .faqs-left {
  background-color: #efefef;
  padding: 85px;
}

.faqs-container .faqs-left .faqs-title h1 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #000;
}

.faqs-container .faqs-left .faqs-line-container .faqs-line {
  width: 250px;
  height: 0px;
  background-color: #850038;
  border: 3px solid #850038;
  margin: 15px 0px 50px 0px;
}

.faqs-container .faqs-left .faqs-quests-container .faqs-btn img {
  width: 20px;
  margin-top: 5px;
}

.faqs-container .faqs-left .faqs-quests-container .faqs-quests {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
}

.faqs-container .faqs-left .faqs-quests-container table {
  width: 100%;
}

.faqs-container .faqs-left .faqs-quests-container tr td:first-child {
  padding-right: 5px;
}

.faqs-container .faqs-left .faqs-quests-container tr td {
  padding: 10px;
  border-bottom: 1px solid #850038;
}

.faqs-container .faqs-right {
  background-color: #d9d9d9;
  display: grid;
  grid-template-rows: 40% auto;
}

.faqs-container .faqs-right .faqs-answer {
  margin-top: 40px;
  padding: 50px;
  text-align: justify;
}

.faqs-container .faqs-right .faqs-oble {
  margin-top: 40px;
  margin-left: 20px;
  background: url(imgs/logos/oble-flip.png) no-repeat right;
  opacity: 0.7;
  background-size: 70%;
  overflow: hidden;
}

/*** end of faqs ***/

/*** start of mop***/

.pay-container {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  padding: 170px 0;
  position: relative;
}

.pay-container .pay-title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay-container .pay-title h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 37px;
  color: #000;
  margin-top: 20px;
}

.pay-container .pay-line-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay-container .pay-line-container .pay-line {
  width: 200px;
  height: 0px;
  background-color: #850038;
  border: 3px solid #850038;
  margin: 15px 0px 70px 0px;
}

.pay-container .pay-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.pay-container .pay-btn .button {
  justify-content: center;
  align-items: center;
  width: 380px;
  background-color: #efefef;
  border: 5px solid #0e6021;
  color: #0e6021;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 50px;
  font-weight: 800;
  margin: 5px 15px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.pay-container .pay-btn .button .btn-img1 {
  width: 100px;
  margin-right: 20px;
}

.pay-container .pay-btn .button .btn-img2 {
  width: 100px;
}

/*** end of mop ***/

/*** if mop is cash ***/

.cash-container {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  padding: 50px 0;
  position: relative;
}

.cash-container .cash-title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cash-container .cash-title h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 37px;
  color: #000;
  margin-top: 20px;
}

.cash-container .cash-line-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cash-container .cash-line-container .cash-line {
  width: 200px;
  height: 0px;
  background-color: #850038;
  border: 3px solid #850038;
  margin: 15px 0px 30px 0px;
}

.cash-container .cash-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.cash-container .cash-btn .button {
  justify-content: center;
  align-items: center;
  width: 380px;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 50px;
  font-weight: 800;
  margin: 5px 15px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.cash-container .cash-btn .button1 {
  background-color: #0e6021;
  border: 5px solid #0e6021;
  color: #efefef;
}

.cash-container .cash-btn .button2 {
  background-color: #efefef;
  border: 5px solid #0e6021;
  color: #0e6021;
}

.cash-container .cash-btn .button .btn-img1 {
  width: 100px;
  margin-right: 20px;
}

.cash-container .cash-btn .button .btn-img2 {
  width: 100px;
}

.cash-container .cash-content {
  text-align: center;
  font-size: 20px;
  margin: 0 20% 40px 20%;
}

.cash-container .proceed-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.cash-container .proceed-btn .button {
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 5px 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.cash-container .proceed-btn .button1 {
  background-color: #850038;
  border: none;
  color: #efefef;
}

.cash-container .proceed-btn .button2 {
  background-color: #0e6021;
  border: none;
  color: #efefef;
}

/*** end of cash ***/

/*** if mop is online ***/

.ecash-container {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  padding: 40px 0;
  position: relative;
}

.ecash-container .ecash-title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ecash-container .ecash-title h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 37px;
  color: #000;
  margin-top: 20px;
}

.ecash-container .ecash-line-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ecash-container .ecash-line-container .ecash-line {
  width: 200px;
  height: 0px;
  background-color: #850038;
  border: 3px solid #850038;
  margin: 15px 0px 30px 0px;
}

.ecash-container .ecash-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.ecash-container .ecash-btn .button {
  justify-content: center;
  align-items: center;
  width: 380px;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 50px;
  font-weight: 800;
  margin: 5px 15px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.ecash-container .ecash-btn .button1 {
  background-color: #efefef;
  border: 5px solid #0e6021;
  color: #0e6021;
}

.ecash-container .ecash-btn .button2 {
  background-color: #0e6021;
  border: 5px solid #0e6021;
  color: #efefef;
}

.ecash-container .ecash-btn .button .btn-img1 {
  width: 100px;
  margin-right: 20px;
}

.ecash-container .ecash-btn .button .btn-img2 {
  width: 100px;
}

.ecash-container .ecash-content {
  justify-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 20% 20px 20%;
}

.ecash-container .ecash-content .ecash-content1 {
  padding-right: 20px;
}

.ecash-container .ecash-content .ecash-content2 {
  padding-left: 20px;
}

.ecash-container .ecash-content .ecash-content1 h1 {
  font-size: 18px;
  text-align: left;
}

.ecash-container .ecash-content .ecash-content1 tr td {
  font-size: 14px;
  text-align: left;
}

.ecash-container .ecash-content .ecash-content1 .label {
  text-align: right;
  padding-right: 10px;
}

.ecash-container .ecash-content .ecash-content2 h1 {
  font-size: 18px;
  text-align: left;
}

.ecash-container .ecash-content .ecash-content2 tr td {
  font-size: 14px;
  text-align: left;
}

.ecash-container .ecash-content .ecash-content2 .label {
  text-align: right;
  padding-right: 10px;
}

.ecash-container .proceed-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.ecash-container .proceed-btn .button {
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.ecash-container .proceed-btn .button1 {
  background-color: #850038;
  border: none;
  color: #efefef;
}

.ecash-container .proceed-btn .button2 {
  background-color: #0e6021;
  border: none;
  color: #efefef;
}
