{% extends "public/templates/public_template.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block main %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Last Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Middle Name</th>
      <th scope="col">Email</th>
      <th scope="col">Student Number</th>
      <th scope="col">Year Level</th>
      <th scope="col">Requested Documents</th>
      <th scope="col">Total Price</th>
      <th scope="col">Date of Request</th>
      <th scope="col">Request Approved</th>
      <th scope="col">Documents Approved</th>
      <th scope="col">Available for Claiming</th>
    </tr>
  </thead>
  <tbody>
    {% for request in requests %}
    {% set requested_list = request.requested_documents.split('@') %}
    <tr>
        <th scope = "row"> {{ request.queue_number }} </th>
        <td> {{ request.last_name }} </td>
        <td> {{ request.first_name }} </td>
        <td> {{ request.middle_name }} </td>
        <td> {{ request.email }} </td>
        <td> {{ request.student_number }} </td>
        <td> {{ request.year_level }} </td>
        <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Test
              </button>
              <ul class="dropdown-menu">
                {% for document in requested_list %}
                <li><a class="dropdown-item view_only" href="#">{{ document }}</a></li>
                {% endfor %}
              </ul>
            </div>
        </td>
        <td> {{ request.total_price }} </td>
        <td> {{ request.date_of_request }} </td>
        {% if request.request_approved == True %}
        <td><a class="btn btn-success read_only" href="/update/{{ request.queue_number }}/request_approved">{{ request.request_approved }}</a></td>
        {% else %}
        <td><a class="btn btn-danger" href="/update/{{ request.queue_number }}/request_approved">{{ request.request_approved }}</a></td>
        {% endif %}
        {% if request.documents_approved == True %}
        <td><a class="btn btn-success read_only" href="/update/{{ request.queue_number }}/documents_approved">{{ request.documents_approved }}</a></td>
        {% else %}
        <td><a class="btn btn-danger" href="/update/{{ request.queue_number }}/documents_approved">{{ request.documents_approved }}</a></td>
        {% endif %}
        {% if request.request_available == True %}
        <td><a class="btn btn-success read_only" href="/update/{{ request.queue_number }}/claiming_available">{{ request.request_available }}</a></td>
        {% else %}
        <td><a class="btn btn-danger" href="/update/{{ request.queue_number }}/claiming_available">{{ request.request_available }}</a></td>
        {% endif %}
        <td><a class="btn btn-primary" href="/delete/{{ request.queue_number }}">Finish Transaction</a></td>
        <td><a class="btn btn-primary" href="/remove/{{ request.queue_number }}">Delete Entry</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">Sort Requests By</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/sort_by_date">Request Date</a></li>
    <li><a class="dropdown-item" href="#">Test Criteria</a></li>
    <li><a class="dropdown-item read_only" href="#">By Document &raquo;</a>
      <ul class="dropdown-menu dropdown-submenu">
        <div class = "scroll">
        {% for i in range(documents|length) %}
        <li><a class="dropdown-item" href="/sort_by_document/{{ documents[i] }}">{{ documents[i] }}</a></li>
        {% endfor %}
      </div>
      </ul>
    </li>
  </ul>
</div>

{% endblock %}










