{% extends "public/templates/public_template.html" %}
{% block title %} UP2GO: About Us {% endblock %}
{% block main%}
<section class="oblePic"></section>

<section class="abt-container">
    <div class="abt-title">
        <h1>OFFICE OF THE UNIVERSITY REGISTRAR</h1>
    </div>
    <div class="abt-line-container">
        <div class="abt-line"></div>
    </div>
    <div class="abt-content">
        <p>
            The University of the Registrar at the University of the Philippines Baguio serves as the central hub for
            all academic records and administrative functions related to students.
            We are committed to maintaining accurate and secure records, supporting the academic journey of students,
            and upholding the values of excellence and integrity. <br><br>
            As the custodian of student records, our primary responsibilities include the registration and enrollment of
            students,
            managing class schedules, maintaining academic transcripts, and facilitating the graduation process.
            We strive to provide efficient and reliable services to students, faculty, and staff, ensuring that all
            processes adhere to the highest standards of professionalism and confidentiality.
        </p>
</section>
{% endblock %}