<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block main %}

<div class="content">
  <nav class="start-page">
    <div class="grp-container">
      <h1 class="intro-title">A Project for University of the Philippines Baguio</h1>
    </div>
    <img class="intro-uplogo" src="{{ url_for('static', filename='imgs/logos/uplogo.png') }}">
  </nav>
  <img src="{{ url_for('static', filename='imgs/logos/up2go-1.png') }}">
  <div class="arrow bounce">
    <a class="fa fa-arrow-down" href="#"></a>
  </div>

  <section class="start-button">
    {% if user.is_authenticated %}
    <a class="start-btn" href="/admin/dashboard/default">PROCEED</a>
    {% else %}
    <a class="start-btn" href="/request_forms">PROCEED</a>
    {% endif %}
  </section>

  <section class="social_icons">
    <a href="/about_us" title="About Us"><i class='bx bxs-info-circle'></i></i></a>
    <a href="/contact_us" title="Contact Us"><i class='bx bxs-phone'></i></a>
    <a href="/faqs" title="FAQs"><i class='bx bxs-message-alt-detail'></i></a>
    <a href="/admin/login" title="Login"><i class='bx bxs-user-circle'></i></i></a>
  </section>
</div>

<script src="../js/app.js"></script>

{% endblock %}