<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style.css') }}"
/>
{% block main %}
<style>
  body {
    overflow: hidden;
  }
</style>
<nav class="intro-page">
  <div class="grp-container">
    <h1 class="intro-title">
      A Project for University of the Philippines Baguio
    </h1>
  </div>
  <img
    class="intro-uplogo"
    src="{{ url_for('static', filename='imgs/logos/uplogo.png') }}"
  />
</nav>
<section class="intro-sect">
  <div class="intro-row">
    <div class="intro-col">
      <img
        src="{{ url_for('static', filename='imgs/logos/oble.png') }}"
        alt="Oble"
        class="intro-img1"
      />
    </div>
    <div class="intro-col">
      <img
        src="{{ url_for('static', filename='imgs/logos/up2go-1.png') }}"
        alt="UP2GO"
        class="intro-img2"
      />
    </div>
  </div>
</section>

{% if user.is_authenticated %}
<a class="intro-wrapper" href="/admin/dashboard/default"></a>
{% else %}
<a class="intro-wrapper" href="/request_forms"></a>
{% endif %} {% endblock %}
