<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% extends "public/templates/public_template.html" %}
{% block title %} Upload Image {% endblock %}
{% block main %}

<div class="up-container">
    <div class="back-btn" id="back-btn-up">
        <a><i class='bx bx-chevron-left'></i><span>Back</span></a>
    </div>
    <div class="login-uplogo">
        <img class="up2go-login" src="{{ url_for('static', filename='imgs/logos/up2go-1.png') }}" alt="UP2GO">
    </div>
    <div class="row">
        <div class="col">
            <form action="/upload_image" method="POST" enctype="multipart/form-data">
                {% for k, v in session["requirements"].items() %}
                <div class="input-group mb-3">
                    {% if session["requirements"][k] == True and k == "Preferred Format for True Copy of Grades" %}
                    <label class="input-group-text">Preferred Format for True Copy of Grades</label>
                    <select class="form-select" name="preferred_format" required>
                        <option value="Hard Copy">Hard Copy</option>
                        <option value="Digital Copy">Digital Copy</option>
                    </select>

                    {% elif session["requirements"][k] == True %}

                    {% if session["year_level"] == "Graduate Student" and k == "Letter from parents stating the reason
                    for Honorable Dismissal" %}
                    {% continue %}
                    {% endif %}

                    {% if session["year_level"] != "Graduate Student" and k == "Signed letter stating the reason for
                    Honorable Dismissal" %}
                    {% continue %}
                    {% endif %}

                    <label class="input-group-text">{{ k }}</label>
                    <input type="file" class="form-control upload" id="file" name="file" oninput="filesize(this)" required>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="up-button">
                    <button type="submit" class="btn btn-upload">UPLOAD FILE(S)</button>
                </div>
                
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}

<script>
    function filesize(elem) { document.cookie = `filesize=${elem.files[0].size}`; }
</script>

{% endblock %}